H1{
  text-align: center;
  margin-top: 20px;
  color: rgb(8, 87, 235);
 }

 H2{
   text-align: center;
   margin-top: 20px;
   color: rgb(8, 87, 235);
 }

 p{
   margin-top: 30px;
   text-align: center;
 }

 h5{
   text-align: center;
 }
