<footer class="page-footer font-small teal pt-4">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-3">
        <h5 class="text-uppercase font-weight-bold">Creditos</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque accusamus ea, molestiae voluptatibus illo aut natus harum a amet dicta.</p>
      </div>
      <hr class="clearfix w-100 d-md-none pb-3">
      <div class="col-md-6 mb-md-0 mb-3">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A quibusdam autem earum asperiores pariatur totam necessitatibus, tempora possimus? Eius veniam architecto eligendi adipisci illo eos sit doloribus ab mollitia ipsum!</p>
        </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> ILERNA</a>
  </div>
</footer>
